<div class="column is-full-desktop" itemscope itemtype="http://schema.org/CreativeWork">
    <h1 class="blog-timestamp">
        {{ if eq .Type "post" }}
            <h1 class="">
                {{ partial "post/meta" . }}
            </h1>
        {{ end }}
    </h1>
    <a href="{{.Permalink}}">
        <figure class="image is-256x256">
            <img src={{.Params.image}}>
        </figure>
    </a>
    <h1 class="title has-text-black-ter">
        <a href="{{ .Permalink }}" itemprop="headline">{{ .Params.title }}</a>
    </h1>
    {{ if .Description }}
        <blockquote itemprop="about">{{ .Description }}</blockquote>
    {{ end }}

</div>
<div class="button">
    <a href="{{ .RelPermalink }}" itemprop="url">Read More…</a>
</div>